.page-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-not-found h1 {
  font-size: 200px;
  margin-bottom: 60px;
}

.page-not-found h3 {
  font-size: 50px;
}

.page-not-found p {
  font-size: 30px;
  margin-bottom: 50px;
}

.page-not-found button {
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #00364D;
  color: white;
  font-size: 20px;
}

.page-not-found button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
